node_modules
.git
.github
*.md
.env
.env.*
!.env.example
docker
infra
docs
logs
uploads
scripts
apps/web
apps/admin
.prettierrc
.prettierignore
turbo.json
*.log
*.tsbuildinfo
dist
coverage
.nyc_output
